<!-- Group Information -->
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3">
        <div class="card card-block">
            <div class="cheader">
                <img [src]="groupToDisplay.imgUrl" class="card-img-top resize" alt="groupToDisplay.imgName">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{groupToDisplay.groupName}}</h5>
                <h6 class="card-title">{{groupToDisplay.location}}</h6>
                <p class="card-text">{{groupToDisplay.groupDetails}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated {{groupToDisplay.lastUpdated}} mins ago</small>
            </div>
        </div>
    </div>
</div>
<br>

<!-- Upcoming Events for specific group -->
<div class="row sheaders">
    <div class="col-md-10 col-sm-12">
        <h1>Upcoming Events</h1>
    </div>
</div>
<div class="group-container">
    <div *ngFor="let event of newGroupEvents; index as i" class="row button-row row-striped">
        <div class="col-sm-12 col-lg-3">
            <img [src]="event.imgUrl" class="resize" alt="">
        </div>
        <div class="col-sm-2 col-lg-2 text-center">
            <h1 class="display-4"><span class="badge badge-secondary">{{eventDateInfo[i].date}}</span></h1>
            <h2>{{eventDateInfo[i].month}}</h2>
            <h3>{{eventDateInfo[i].year}}</h3>
        </div>
        <div class="col-sm-10 col-lg-7">
            <h3 class="text-uppercase"><strong>{{event.eventName}}</strong></h3>
            <h5 class="text-uppercase"><strong>{{event.location}}</strong></h5>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{eventDateInfo[i].day}}</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{eventDateInfo[i].stime}} - {{eventDateInfo[i].etime}}
                </li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{event.location}}
                </li>
            </ul>
            <p>{{event.eventDetails}}</p>
        </div>
    </div>
</div>