<html>

<head></head>

<body>
    <!-- Group Information -->
    <div class="row">
        <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3">
            <div class="card card-block">
                <div class="cheader">
                    <img src="https://images.techhive.com/images/article/2015/05/aws-logo-100584713-primary.idge.jpg"
                        class="card-img-top resize" alt="AWS Logo">
                </div>
                <div class="card-body">
                    <h5 class="card-title">AWS (New York)</h5>
                    <p class="card-text">This is a group for NY find to learn more about AWS.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 5 mins ago</small>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- Upcoming Events for specific group -->
    <div class="row sheaders">
        <div class="col-md-10 col-sm-12">
            <h1>Upcoming Events</h1>
        </div>
    </div>
    <div class="group-container">
        <div class="row button-row row-striped">Here</div>
        <div class="row button-row row-striped">here2</div>
        <div class="row button-row row-striped">Here3</div>
    </div>
</body>

</html>