
    <div style="text-align: center; margin: 2em">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Join Us Today!</h5>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <input type="input" id="inputFirstName" class="form-control" placeholder="First Name"
                                        required>
                                    <br>
                                </div>
                                <div class="form-label-group">
                                    <input type="input" id="inputLastName" class="form-control" placeholder="Last Name"
                                        required>
                                    <br>
                                </div>

                                <div class="form-label-group">
                                    <input type="email" id="inputEmail" class="form-control"
                                        placeholder="Pariveda Email" required autofocus>
                                    <br>
                                </div>

                                <div class="form-label-group">
                                    <input type="password" id="inputPassword" class="form-control"
                                        placeholder="Password" required>
                                    <br>
                                </div>
                                <div class="form-label-group">
                                        <input type="password" id="confirmPassword" class="form-control"
                                            placeholder="Confirm Password" required>
                                        <br>
                                    </div>

                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign
                                    Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
