<div style="text-align: center; margin: 2em">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Create a New Event</h5>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <input type="input" id="inputGroupName" class="form-control" placeholder="Event Name"
                                        required>
                                    <br>
                                </div>
                                
                                <div class="form-label-group">
                                    <input type="email" id="inputGroupInfo" class="form-control" placeholder="Event Info"
                                        required autofocus>
                                    <br>
                                </div>
    
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" routerLink="/">Create</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>