

.cheader {
    width:auto;
    height: 40%;
    overflow: hidden;
}

.card-body {
    background-color: lightgrey;
}

.card-block {
    max-width: 300px;
}

img.resize {
    max-width:100%;
    max-height:100%;
}

.group-container {
    padding-left: 10%; 
    padding-right: 10%;
}

.row-striped:nth-of-type(odd){
    background-color: rgb(191, 194, 204);
}

.row-striped:nth-of-type(even){
    background-color: white;
}

.sheaders {
    padding-left: 10%;
    padding-bottom: 1%;
}

.row {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(45, 70, 133);
}
