<!-- Group -->
<div class="row sheaders">
    <div class="col-md-8 col-sm-12">
        <h1>My Groups</h1>
    </div>
    <div class="col-md-2 col-6">
        <button type="button" class="btn btn-outline-primary" routerLink="/join">Join Group</button>
    </div>
    <div class="col-md-2 col-6">
        <button type="button" class="btn btn-outline-success" routerLink="/create">Create Group</button>
    </div>
</div>
<!-- Scrollable Horizontal Bar with Cards -->
<div class="group-container">
    <div class="container-fluid">
        <div class="row button-row flex-row flex-nowrap" style="overflow-x: auto">
            <div *ngFor="let group of groups" class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="card card-block h-100">
                    <div class="cheader">
                        <img [src]="group.imgUrl"
                            class="card-img-top resize" alt="group.imgName">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{group.groupName}}</h5>
                        <p class="card-text">{{group.groupDetails}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated {{group.lastUpdated}} mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Event -->
<div class="row sheaders">
    <div class="col-md-8 col-sm-12">
        <h1>My Events</h1>
    </div>
    <div class="col-md-2 col-6">
        <button type="button" class="btn btn-outline-primary" routerLink="/joinEvent">Join Event</button>
    </div>
    <div class="col-md-2 col-6">
        <button type="button" class="btn btn-outline-success" routerLink="/createEvent">Create Event</button>
    </div>
</div>
<!-- Scrollable Vertical List With Upcoming Event information -->
<div class="group-container">
    <div class="row button-row row-striped">
        <div class="col-4 text-center">
            <h1 class="display-4"><span class="badge badge-secondary">31</span></h1>
            <h2>OCT</h2>
            <h3>2019</h3>
        </div>
        <div class="col-8">
            <h3 class="text-uppercase"><strong>EMR Fest</strong></h3>
            <h5 class="text-uppercase"><strong>AWS (NEW York)</strong></h5>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM
                </li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> WeWork Downtown
                </li>
            </ul>
            <p>Security DevOps and coffee.</p>
        </div>
    </div>
    <div class="row button-row row-striped">
        <div class="col-4 text-center">
            <h1 class="display-4"><span class="badge badge-secondary">1</span></h1>
            <h2>NOV</h2>
            <h3>2019</h3>
        </div>
        <div class="col-8">
            <h3 class="text-uppercase"><strong>EMR Fest 2</strong></h3>
            <h5 class="text-uppercase"><strong>AWS (NEW York)</strong></h5>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM
                </li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> WeWork Downtown
                </li>
            </ul>
            <p>Security DevOps and coffee. Following up changes</p>
        </div>
    </div>
    <div class="row button-row row-striped">
        <div class="col-4 text-center">
            <h1 class="display-4"><span class="badge badge-secondary">1</span></h1>
            <h2>DEC</h2>
            <h3>2019</h3>
        </div>
        <div class="col-8">
            <h3 class="text-uppercase"><strong>EMR Fest 3</strong></h3>
            <h5 class="text-uppercase"><strong>AWS (NEW York)</strong></h5>
            <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM
                </li>
                <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> WeWork Downtown
                </li>
            </ul>
            <p>Security DevOps and coffee. Following up changes</p>
        </div>
    </div>
</div>
<div class="group-container"></div>