<!-- Event Information -->
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3">
        <div class="card card-block">
            <div class="cheader">
                <img src="https://dmhnzl5mp9mj6.cloudfront.net/bigdata_awsblog/images/JustGivingImage1a.PNG"
                    class="card-img-top resize" alt="EMR Fest">
            </div>
            <div class="card-body">
                <h5 class="card-title">EMR Fest</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM
                    </li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> WeWork
                        Downtown</li>
                </ul>
                <p class="card-text">Security DevOps and coffee.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 5 mins ago</small>
            </div>
        </div>
    </div>
</div>