<!-- navigation bar -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/login">Login</a>
        <a class="nav-item nav-link" routerLink="/register">Register</a>
    </div>
</nav>
<!-- Main Page -->
<html>
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div style="text-align:center">
            <img width="300" alt="Pariveda Logo" src="https://www.suntrust.com/content/dam/suntrust/us/en/shared/2017/momentum-ignite/Pariveda_Logo.png">
            <h1>
                Welcome to Fin Meetup!
              </h1>
        </div>
        <router-outlet></router-outlet>
    </body>
</html>


