<!-- navigation bar -->
<nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <ul class="navbar-nav ml-auto list-inline">
            <li class="nav-item">
                <a class="navbar-nav" routerLink="/">
                    <img src="https://www.suntrust.com/content/dam/suntrust/us/en/shared/2017/momentum-ignite/Pariveda_Logo.png"
                        style="max-width: 8em; max-height: 2em" class="img-fluid" href="#"></a>
            </li>
        </ul>
        <!--<a class="nav-item nav-link" routerLink="/">Home</a>-->

        <!--<a class="nav-item nav-link" routerLink="/register">Register</a>-->
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto list-inline">
            <li class="nav-item nav-link">

                <svg style="width:24px;height:24px;" viewBox="0 0 24 24">
                    <path fill="#ffffff"
                        d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
                </svg>
            </li>
            <li class="nav-item nav-link" style="color: white">
                <a>{{ users[curuser].userName }}</a>
            </li>
            <li class="nav-item nav-link">
                    <a>|</a>
                </li>
            <a class="nav-item nav-link" routerLink="/login">Logout</a>
        </ul>
    </div>
</nav>
<!-- Site Name -->
<div class="mainTitle" style="text-align:center">
    <h1 style="color:rgb(0, 85, 170); padding-bottom: 3%">
        <br>
        <b>Fin Meetup</b>
    </h1>
</div>
<!-- Dynamic Site Routing-->
<div>
    <router-outlet></router-outlet>
</div>
<!-- Bottom bar -->
<nav class="navbar fixed-bottom navbar-expand navbar-dark bg-dark" style="display:flex; justify-content:center">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="#">2019 Pariveda, All Rights Reserved.</a>
    </div>
</nav>